<div class="home__container">
	<app-card
		gameCover="assets/NBA-2K24.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 89,90"
	>
	</app-card>
	<app-card
	     gameCover="assets/godof-jogo.webp"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 249,99"
	>
	</app-card>
	<app-card
	     gameCover="assets/strettF.avif"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 114,99"
		>
	</app-card>
	<app-card
		gameCover="assets/finalfantasy-jogo.webp"
		gameLabel="NEW"
		gameType="DIGITAL |  PS4 PS5"
		gamePrice="R$ 120,99"
	>
	</app-card>
	<app-card
	     gameCover="assets/db-jogo.avif"
		gameLabel="NEW"
		gameType="DIGITAL |  PS4 PS5"
		gamePrice="R$ 320,00"
	>
	</app-card>
	<app-card
		gameCover="assets/Tekken-7.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS4 PS5"
		gamePrice="R$ 260,99"
	>
	</app-card>
</div>

